<style type="text/css">
    body {
        background: transparent;
    }
</style>

{% if appKey %}
    <div>
        {% if appKey.app.company.p12 and appKey.app.company.pem and appKey.app.company.server and appKey.app.company.password %}
            <div class="alert alert-success">Certificates and password ok</div>
        {% else %}
            <div class="alert alert-danger">Missing certificate(s) and / or password</div>
        {% endif %}

        {{ configureForm.open() | raw }}

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Key</label>
                    <div>{{ appKey.key }}</div>
                </div>

                <div class="form-group">
                    <label>App</label>
                    <div>{{ appKey.app.title }}</div>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <div>{{ appKey.app.company.country.code }}</div>
                </div>

                <div class="form-group">
                    <label>User</label>
                    <div>{{ appKey.app.user.email }}</div>
                </div>

                <div class="form-group">
                    <label>Pass</label>
                    <div>{{ appKey.app.company.invisiblePassword }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Echo test</label>
                    <div>
                        <button class="btn btn-info">Make echo test</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Invoice test</label>
                    <div>
                        <button class="btn btn-info">Make invoice test</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            {{ configureForm | raw }}
        </div>

        {{ configureForm.close() | raw }}
    </div>
{% else %}
    <div>
        <div class="alert alert-danger">Please generate api key first</div>
    </div>
{% endif %}