<style type="text/css">
    body {
        background: transparent;
    }
</style>

{% if appKey %}
    <div>
        <p><b>App:</b> {{ appKey.app.title }}</p>
        <p><b>Key:</b> {{ appKey.key }}</p>
        <p><b>User:</b> {{ appKey.app.user.email }}</p>
        <p><b>Pass:</b> {{ appKey.app.company.decodedPassword }}</p>
        {{ configureForm | raw }}
    </div>
{% else %}
    <div>
        <div class="alert alert-danger">Please generate api key first</div>
    </div>
{% endif %}